<!-- Felix -->
<div th:fragment="navbar" xmlns="http://www.w3.org/1999/html">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <!-- Brand/logo -->
        <div class="container">
            <a class="navbar-brand" href="/">
                <span id="logo">VapeCenter</span>
                <!--<img src="/images/VCnavbar.jpg" height="60px" width="80px">-->
            </a>

            <!-- Links -->
            <!--<ul class="navbar-nav mr-5">
                <li class="nav-item">
                    <a class="nav-link" href="/">Forside</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listProducts">Produkter</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbardrop" href="#">E-væske</a>
                    <div class="dropdown-menu">
                        <a th:each="category : ${categories}" th:if="${category.categorySubList==1}" th:href="'/category/'+${category.categoryId}" th:text="${category.categoryName}" class="dropdown-item"></a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbardrop" href="#">E-Cigaret</a>
                    <div class="dropdown-menu" >
                        <a th:each="category : ${categories}" th:if="${category.categorySubList==2}" th:href = "'/category/'+${category.categoryId}" th:text="${category.categoryName}" class="dropdown-item"></a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbardrop" href="#">Tanke & Coils</a>
                    <div class="dropdown-menu" >
                        <a th:each="category : ${categories}" th:if="${category.categorySubList==3}" th:href = "'/category/'+${category.categoryId}" th:text="${category.categoryName}" class="dropdown-item"></a>
                    </div>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="/aboutUs">Om os</a>
                </li>
            <!--<li class="nav-item"><div class = "dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="/aw">Tanke & Coils</a>
                <ul class="dropdown-menu dropdown-content">
                    <li th:each="category : ${categories}" th:if="${category.categorySubList==3}"> <a th:href = "'/category/'+${category.categoryId}"><span th:text="${category.categoryName}"></span></a></li>
                </ul>
            </div>->
            </ul>-->

            <a class ="btn btn-success ml-5 mr-2" href= "/cart"><i class="fas fa-shopping-cart"></i> Indkøbskurv</a>

            <!--<form action="/" th:action="@{/search}" method="post" class="form-inline">
                <input type="text" th:name="searchProduct" placeholder="Søg efter produkt..." class="form-control mr-2">
                <button type="submit" class="btn btn-primary">Søg</button>
            </form>-->
        </div>
    </nav>
</div>

